:host {
  height: calc(100% - 74px);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 74px;
}

.home-content {
  width: 1050px;
  height: 100%;
}
