<button nz-button [nzType]="'primary'" (click)="showModal()">
  <span>添加新分类</span>
</button>
<nz-modal
  [(nzVisible)]="isVisible"
  nzTitle="添加新分类"
  [nzFooter]="null"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()"
>
  <ng-container *nzModalContent>
    <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
      <nz-form-item *ngFor="let control of listOfControl; let i = index">
        <nz-form-label
          [nzXs]="24"
          [nzSm]="4"
          *ngIf="i == 0"
          [nzFor]="control.controlInstance"
          >新分类
        </nz-form-label>
        <nz-form-control
          [nzXs]="24"
          [nzSm]="20"
          [nzOffset]="i == 0 ? 0 : 4"
          nzErrorTip="请填写新分类."
        >
          <input
            class="passenger-input"
            nz-input
            placeholder="新分类"
            [attr.id]="control.id"
            [formControlName]="control.controlInstance"
          />
          <i
            nz-icon
            nzType="minus-circle-o"
            class="dynamic-delete-button"
            (click)="removeField(control, $event)"
          ></i>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control
          [nzXs]="{ span: 24, offset: 0 }"
          [nzSm]="{ span: 20, offset: 4 }"
        >
          <button
            nz-button
            nzType="dashed"
            class="add-button"
            (click)="addField($event)"
          >
            <i nz-icon nzType="plus"></i>
            添加更多
          </button>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control
          [nzXs]="{ span: 24, offset: 0 }"
          [nzSm]="{ span: 20, offset: 4 }"
        >
          <button nz-button nzType="primary">确认</button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-container>
</nz-modal>
<app-add-new-goods style="margin-left: 50px"></app-add-new-goods>
<button
  style="margin-left: 50px"
  nz-button
  [nzType]="'primary'"
  (click)="showNewOrderModal()"
>
  <span>查看新订单</span>
</button>

<button
  style="margin-left: 50px"
  nz-button
  [nzType]="'primary'"
  (click)="showOldOrderModal()"
>
  <span>查看历史订单</span>
</button>

<nz-modal
  [(nzVisible)]="isOldOrderVisible"
  nzTitle="查看历史订单"
  (nzOnCancel)="handleOldOrderCancel()"
  (nzOnOk)="handleOldOrderCancel()"
>
  <ng-container *nzModalContent>
    <nz-list class="demo-loadmore-list" [nzLoading]="initLoading">
      <nz-list-item *ngFor="let order of OldOrderList">
        <ng-container>
          <nz-list-item-meta>
            <nz-list-item-meta-title
              >订单ID：{{ order.id }}</nz-list-item-meta-title
            >
            <nz-list-item-meta-title
              >所属用户：{{
                queryUserName(order.user)
              }}</nz-list-item-meta-title
            >
            <nz-list-item-meta-title>
              购买的商品：{{ queryGoods(order.goods, order.nums) }}
            </nz-list-item-meta-title>
            <nz-list-item-meta-title>
              总价：￥ {{ queryPrice(order.goods) }}
            </nz-list-item-meta-title>
          </nz-list-item-meta>
        </ng-container>
      </nz-list-item>
    </nz-list>
  </ng-container>
</nz-modal>

<nz-modal
  [(nzVisible)]="isNewOrderVisible"
  nzTitle="查看新订单"
  (nzOnCancel)="handleNewOrderCancel()"
>
  <ng-container *nzModalContent>
    <nz-list class="demo-loadmore-list" [nzLoading]="initLoading">
      <nz-list-item *ngFor="let order of orderList">
        <ng-container>
          <nz-list-item-meta>
            <nz-list-item-meta-title
              >订单ID：{{ order.id }}</nz-list-item-meta-title
            >
            <nz-list-item-meta-title
              >所属用户：{{
                queryUserName(order.user)
              }}</nz-list-item-meta-title
            >
            <nz-list-item-meta-title>
              购买的商品：{{ queryGoods(order.goods, order.nums) }}
            </nz-list-item-meta-title>
            <nz-list-item-meta-title>
              总价：￥ {{ queryPrice(order.goods) }}
            </nz-list-item-meta-title>
          </nz-list-item-meta>
        </ng-container>
      </nz-list-item>
    </nz-list>
  </ng-container>
  <div *nzModalFooter>
    <button nz-button nzType="primary" (click)="handleNewOrderOk()">
      发货
    </button>
  </div>
</nz-modal>

<nz-list class="demo-loadmore-list" [nzLoading]="initLoading">
  <nz-list-item *ngFor="let item of list">
    <ng-container>
      <nz-list-item-meta [nzAvatar]="'api/img/' + item.main">
        <nz-list-item-meta-title>
          <a [routerLink]="'/detail/' + item.id">{{ item.name }}</a>
        </nz-list-item-meta-title>
      </nz-list-item-meta>
      {{ "价格: ￥：" + item.price * item.rate }}
      <ul nz-list-item-actions>
        <nz-list-item-action
          ><a (click)="edit(item)">编辑</a></nz-list-item-action
        >
        <nz-list-item-action
          ><a (click)="deleted(item)">删除</a></nz-list-item-action
        >
      </ul>
    </ng-container>
  </nz-list-item>
</nz-list>

<app-change-product
  [goods]="changedGoods"
  [isVisible]="isChangeVisible"
></app-change-product>


