<nz-header>
  <nz-avatar
    class="user-avatar"
    [nzShape]="'square'"
    [nzSize]="35"
    [nzIcon]="'user'"
    (click)="openUserInfo()"
  ></nz-avatar>

  <app-search></app-search>
  <button
    class="shopping-cart"
    nz-button
    nzType="primary"
    nzShape="round"
    (click)="open()"
  >
    <i nz-icon nzType="shopping-cart"></i>购物车
  </button>
  <button
    class="shopping-cart"
    nz-button
    nzType="primary"
    nzShape="round"
    (click)="openAdmin()"
    *ngIf="isAdmin"
  >
    <i nz-icon nzType="lock"></i>管理员
  </button>

  <button
    class="shopping-cart"
    nz-button
    nzType="primary"
    nzShape="round"
    (click)="openMap()"
  >
    <i nz-icon nzType="border-outer"></i>社区地图
  </button>
</nz-header>
<app-shopping-cart [visible]="visible" (close)="close()"></app-shopping-cart>

<nz-modal
  [(nzVisible)]="isUserInfoVisible"
  nzTitle="用户信息"
  [nzFooter]="null"
  (nzOnCancel)="handleCancel()"
>
  <ng-container *nzModalContent>
    <p>用户名：{{ user.name }}</p>
    <p>地址：{{ user.address }}</p>
    <button
      nz-button
      class="login-form-button login-form-margin"
      [nzType]="'primary'"
      (click)="onLogout()"
    >
      退出
    </button>
    <button
  style="margin-left: 50px"
  nz-button
  [nzType]="'primary'"
  (click)="showOldOrderModal()"
>
  <span>查看个人订单</span>
</button>
  </ng-container>
</nz-modal>

<nz-modal
  [(nzVisible)]="isOldOrderVisible"
  nzTitle="查看个人订单"
  (nzOnCancel)="handleOldOrderCancel()"
  (nzOnOk)="handleOldOrderCancel()"
>
  <ng-container *nzModalContent>
    <nz-list class="demo-loadmore-list">
      <nz-list-item *ngFor="let order of OldOrderList">
        <ng-container>
          <nz-list-item-meta>
            <nz-list-item-meta-title
              >订单ID：{{ order.id }}</nz-list-item-meta-title
            >
            <nz-list-item-meta-title>
              购买的商品：{{ queryGoods(order.goods) }}
            </nz-list-item-meta-title>
            <nz-list-item-meta-title>
              总价：￥ {{ queryPrice(order.goods) }}
            </nz-list-item-meta-title>
          </nz-list-item-meta>
        </ng-container>
      </nz-list-item>
    </nz-list>
  </ng-container>
</nz-modal>

<nz-modal
  nzWidth="1000"
  [(nzVisible)]="isMapVisible"
  nzTitle="社区地图"
  (nzOnCancel)="handleMapCancel()"
  [nzFooter]="null"
>
  <ng-container *nzModalContent>
    <img
      width="1280px"
      height="720px"
      alt="example"
      [src]="'/api/img/address.jpg'"
    />
  </ng-container>
</nz-modal>