<nz-page-header class="site-page-header" nzTitle="有好货">
  <nz-page-header-tags>
    <nz-tag [nzColor]="'blue'">全网最热</nz-tag>
  </nz-page-header-tags></nz-page-header
>
<div class="nz-row" nz-row [nzGutter]="16" nzJustify="space-around">
  <div nz-col class="gutter-row" [nzSpan]="1" (click)='this.click(goods[0])'>
    <nz-card nzHoverable style="width: 180px" [nzCover]="coverTemplate1">
      <nz-card-meta
        style="height: 40px"
        [nzTitle]="goods[0].name"
        [nzDescription]="'￥：' + goods[0].price.toString()"
      ></nz-card-meta>
    </nz-card>
    <ng-template #coverTemplate1>
      <img
        width="180px"
        height="180px"
        alt="example"
        [src]="'/api/img/' + goods[0].main"
      />
    </ng-template>
  </div>
  <div nz-col class="gutter-row" [nzSpan]="1" (click)='this.click(goods[1])'>
    <nz-card nzHoverable style="width: 180px" [nzCover]="coverTemplate2">
      <nz-card-meta
        style="height: 40px"
        [nzTitle]="goods[1].name"
        [nzDescription]="'￥：' + goods[1].price.toString()"
      ></nz-card-meta>
    </nz-card>
    <ng-template #coverTemplate2>
      <img
        width="180px"
        height="180px"
        alt="example"
        [src]="'/api/img/' + goods[1].main"
      />
    </ng-template>
  </div>
  <div nz-col class="gutter-row" [nzSpan]="1" (click)='this.click(goods[2])'>
    <nz-card nzHoverable style="width: 180px" [nzCover]="coverTemplate3">
      <nz-card-meta
        style="height: 40px"
        [nzTitle]="goods[2].name"
        [nzDescription]="'￥：' + goods[2].price.toString()"
      ></nz-card-meta>
    </nz-card>
    <ng-template #coverTemplate3>
      <img
        width="180px"
        height="180px"
        alt="example"
        [src]="'/api/img/' + goods[2].main"
      />
    </ng-template>
  </div>
  <div nz-col class="gutter-row" [nzSpan]="1" (click)='this.click(goods[3])'>
    <nz-card nzHoverable style="width: 180px" [nzCover]="coverTemplate4">
      <nz-card-meta
        style="height: 40px"
        [nzTitle]="goods[3].name"
        [nzDescription]="'￥：' + goods[3].price.toString()"
      ></nz-card-meta>
    </nz-card>
    <ng-template #coverTemplate4>
      <img
        width="180px"
        height="180px"
        alt="example"
        [src]="'/api/img/' + goods[3].main"
      />
    </ng-template>
  </div>
  <div nz-col class="gutter-row" [nzSpan]="4" (click)='this.click(goods[4])'>
    <nz-card nzHoverable style="width: 180px" [nzCover]="coverTemplate5">
      <nz-card-meta
        style="height: 40px"
        [nzTitle]="goods[4].name"
        [nzDescription]="'￥：' + goods[4].price.toString()"
      ></nz-card-meta>
    </nz-card>
    <ng-template #coverTemplate5>
      <img
        width="180px"
        height="180px"
        alt="example"
        [src]="'/api/img/' + goods[4].main"
      />
    </ng-template>
  </div>
</div>
<!-- <img
  class="recommend-bottom"
  width="1030px"
  height="200px"
  alt="example"
  src="https://os.alipayobjects.com/rmsportal/QBnOOoLaAfKPirc.png"
/> -->
