<!-- <div class="hot-border"> -->
<nz-page-header
  class="site-page-header"
  nzTitle="有好货"
>
  <nz-page-header-tags>
    <nz-tag [nzColor]="'blue'">全网最热</nz-tag>
  </nz-page-header-tags></nz-page-header
>
<img
  class="img1"
  nz-image
  width="180px"
  height="180px"
  nzSrc="https://zos.alipayobjects.com/rmsportal/jkjgkEfvpUPVyRjUImniVslZfWPnJuuZ.png"
  alt=""
/>
<img
  class="img2"
  nz-image
  width="180px"
  height="180px"
  nzSrc="https://zos.alipayobjects.com/rmsportal/jkjgkEfvpUPVyRjUImniVslZfWPnJuuZ.png"
  alt=""
/>
<img
  class="img3"
  nz-image
  width="180px"
  height="180px"
  nzSrc="https://zos.alipayobjects.com/rmsportal/jkjgkEfvpUPVyRjUImniVslZfWPnJuuZ.png"
  alt=""
/>
<img
  class="img4"
  nz-image
  width="180px"
  height="180px"
  nzSrc="https://zos.alipayobjects.com/rmsportal/jkjgkEfvpUPVyRjUImniVslZfWPnJuuZ.png"
  alt=""
/>
<img
  class="img5"
  nz-image
  width="180px"
  height="180px"
  nzSrc="https://zos.alipayobjects.com/rmsportal/jkjgkEfvpUPVyRjUImniVslZfWPnJuuZ.png"
  alt=""
/>
<!-- </div> -->
