<nz-page-header class="site-page-header" nzTitle="猜你喜欢">
  <nz-page-header-tags>
    <nz-tag [nzColor]="'blue'">个性推荐</nz-tag>
  </nz-page-header-tags></nz-page-header
>
<div class="nz-row" nz-row [nzGutter]="16" nzJustify="space-around">
  <div nz-col class="gutter-row" [nzSpan]="1">
    <nz-card nzHoverable style="width: 180px" [nzCover]="coverTemplate">
      <nz-card-meta
        style="height: 40px"
        nzTitle="Europe Street beat"
        nzDescription="www.instagram.com"
      ></nz-card-meta>
    </nz-card>
    <ng-template #coverTemplate>
      <img
        width="180px"
        height="180px"
        alt="example"
        src="https://os.alipayobjects.com/rmsportal/QBnOOoLaAfKPirc.png"
      />
    </ng-template>
  </div>
  <div nz-col class="gutter-row" [nzSpan]="1">
    <nz-card nzHoverable style="width: 180px" [nzCover]="coverTemplate">
      <nz-card-meta
        style="height: 40px"
        nzTitle="Europe Street beat"
        nzDescription="www.instagram.com"
      ></nz-card-meta>
    </nz-card>
    <ng-template #coverTemplate>
      <img
        width="180px"
        height="180px"
        alt="example"
        src="https://os.alipayobjects.com/rmsportal/QBnOOoLaAfKPirc.png"
      />
    </ng-template>
  </div>
  <div nz-col class="gutter-row" [nzSpan]="1">
    <nz-card nzHoverable style="width: 180px" [nzCover]="coverTemplate">
      <nz-card-meta
        style="height: 40px"
        nzTitle="Europe Street beat"
        nzDescription="www.instagram.com"
      ></nz-card-meta>
    </nz-card>
    <ng-template #coverTemplate>
      <img
        width="180px"
        height="180px"
        alt="example"
        src="https://os.alipayobjects.com/rmsportal/QBnOOoLaAfKPirc.png"
      />
    </ng-template>
  </div>
  <div nz-col class="gutter-row" [nzSpan]="1">
    <nz-card nzHoverable style="width: 180px" [nzCover]="coverTemplate">
      <nz-card-meta
        style="height: 40px"
        nzTitle="Europe Street beat"
        nzDescription="www.instagram.com"
      ></nz-card-meta>
    </nz-card>
    <ng-template #coverTemplate>
      <img
        width="180px"
        height="180px"
        alt="example"
        src="https://os.alipayobjects.com/rmsportal/QBnOOoLaAfKPirc.png"
      />
    </ng-template>
  </div>
  <div nz-col class="gutter-row" [nzSpan]="4">
    <nz-card nzHoverable style="width: 180px" [nzCover]="coverTemplate">
      <nz-card-meta
        style="height: 40px"
        nzTitle="Europe Street beat"
        nzDescription="www.instagram.com"
      ></nz-card-meta>
    </nz-card>
    <ng-template #coverTemplate>
      <img
        width="180px"
        height="180px"
        alt="example"
        src="https://os.alipayobjects.com/rmsportal/QBnOOoLaAfKPirc.png"
      />
    </ng-template>
  </div>
</div>

<div class="nz-row" nz-row [nzGutter]="16" nzJustify="space-around">
  <div nz-col class="gutter-row" [nzSpan]="1">
    <nz-card nzHoverable style="width: 180px" [nzCover]="coverTemplate">
      <nz-card-meta
        style="height: 40px"
        nzTitle="Europe Street beat"
        nzDescription="www.instagram.com"
      ></nz-card-meta>
    </nz-card>
    <ng-template #coverTemplate>
      <img
        width="180px"
        height="180px"
        alt="example"
        src="https://os.alipayobjects.com/rmsportal/QBnOOoLaAfKPirc.png"
      />
    </ng-template>
  </div>
  <div nz-col class="gutter-row" [nzSpan]="1">
    <nz-card nzHoverable style="width: 180px" [nzCover]="coverTemplate">
      <nz-card-meta
        style="height: 40px"
        nzTitle="Europe Street beat"
        nzDescription="www.instagram.com"
      ></nz-card-meta>
    </nz-card>
    <ng-template #coverTemplate>
      <img
        width="180px"
        height="180px"
        alt="example"
        src="https://os.alipayobjects.com/rmsportal/QBnOOoLaAfKPirc.png"
      />
    </ng-template>
  </div>
  <div nz-col class="gutter-row" [nzSpan]="1">
    <nz-card nzHoverable style="width: 180px" [nzCover]="coverTemplate">
      <nz-card-meta
        style="height: 40px"
        nzTitle="Europe Street beat"
        nzDescription="www.instagram.com"
      ></nz-card-meta>
    </nz-card>
    <ng-template #coverTemplate>
      <img
        width="180px"
        height="180px"
        alt="example"
        src="https://os.alipayobjects.com/rmsportal/QBnOOoLaAfKPirc.png"
      />
    </ng-template>
  </div>
  <div nz-col class="gutter-row" [nzSpan]="1">
    <nz-card nzHoverable style="width: 180px" [nzCover]="coverTemplate">
      <nz-card-meta
        style="height: 40px"
        nzTitle="Europe Street beat"
        nzDescription="www.instagram.com"
      ></nz-card-meta>
    </nz-card>
    <ng-template #coverTemplate>
      <img
        width="180px"
        height="180px"
        alt="example"
        src="https://os.alipayobjects.com/rmsportal/QBnOOoLaAfKPirc.png"
      />
    </ng-template>
  </div>
  <div nz-col class="gutter-row" [nzSpan]="4">
    <nz-card nzHoverable style="width: 180px" [nzCover]="coverTemplate">
      <nz-card-meta
        style="height: 40px"
        nzTitle="Europe Street beat"
        nzDescription="www.instagram.com"
      ></nz-card-meta>
    </nz-card>
    <ng-template #coverTemplate>
      <img
        width="180px"
        height="180px"
        alt="example"
        src="https://os.alipayobjects.com/rmsportal/QBnOOoLaAfKPirc.png"
      />
    </ng-template>
  </div>
</div>

<div class="nz-row" nz-row [nzGutter]="16" nzJustify="space-around">
  <div nz-col class="gutter-row" [nzSpan]="1">
    <nz-card nzHoverable style="width: 180px" [nzCover]="coverTemplate">
      <nz-card-meta
        style="height: 40px"
        nzTitle="Europe Street beat"
        nzDescription="www.instagram.com"
      ></nz-card-meta>
    </nz-card>
    <ng-template #coverTemplate>
      <img
        width="180px"
        height="180px"
        alt="example"
        src="https://os.alipayobjects.com/rmsportal/QBnOOoLaAfKPirc.png"
      />
    </ng-template>
  </div>
  <div nz-col class="gutter-row" [nzSpan]="1">
    <nz-card nzHoverable style="width: 180px" [nzCover]="coverTemplate">
      <nz-card-meta
        style="height: 40px"
        nzTitle="Europe Street beat"
        nzDescription="www.instagram.com"
      ></nz-card-meta>
    </nz-card>
    <ng-template #coverTemplate>
      <img
        width="180px"
        height="180px"
        alt="example"
        src="https://os.alipayobjects.com/rmsportal/QBnOOoLaAfKPirc.png"
      />
    </ng-template>
  </div>
  <div nz-col class="gutter-row" [nzSpan]="1">
    <nz-card nzHoverable style="width: 180px" [nzCover]="coverTemplate">
      <nz-card-meta
        style="height: 40px"
        nzTitle="Europe Street beat"
        nzDescription="www.instagram.com"
      ></nz-card-meta>
    </nz-card>
    <ng-template #coverTemplate>
      <img
        width="180px"
        height="180px"
        alt="example"
        src="https://os.alipayobjects.com/rmsportal/QBnOOoLaAfKPirc.png"
      />
    </ng-template>
  </div>
  <div nz-col class="gutter-row" [nzSpan]="1">
    <nz-card nzHoverable style="width: 180px" [nzCover]="coverTemplate">
      <nz-card-meta
        style="height: 40px"
        nzTitle="Europe Street beat"
        nzDescription="www.instagram.com"
      ></nz-card-meta>
    </nz-card>
    <ng-template #coverTemplate>
      <img
        width="180px"
        height="180px"
        alt="example"
        src="https://os.alipayobjects.com/rmsportal/QBnOOoLaAfKPirc.png"
      />
    </ng-template>
  </div>
  <div nz-col class="gutter-row" [nzSpan]="4">
    <nz-card nzHoverable style="width: 180px" [nzCover]="coverTemplate">
      <nz-card-meta
        style="height: 40px"
        nzTitle="Europe Street beat"
        nzDescription="www.instagram.com"
      ></nz-card-meta>
    </nz-card>
    <ng-template #coverTemplate>
      <img
        width="180px"
        height="180px"
        alt="example"
        src="https://os.alipayobjects.com/rmsportal/QBnOOoLaAfKPirc.png"
      />
    </ng-template>
  </div>
</div>
