.hot-border {
  margin-top: 20px;
  position: absolute;
}

:host {
  width: 100%;
}

.gutter-row {
  min-width: 196px;
}

.recommend-bottom {
  margin-top: 10px;
  margin-left: 9px;
}

.nz-row {
  margin-top: 10px;
}

.site-page-header {
  margin-top: 10px;
}
