<div class="top">
    <nz-page-header class="site-page-header" nzTitle="宝贝详情">
    </nz-page-header>
<img
class="img2"
nz-image
width="800px"
height="800px"
nzSrc="https://zos.alipayobjects.com/rmsportal/jkjgkEfvpUPVyRjUImniVslZfWPnJuuZ.png"
alt=""
/>

<img
class="img2"
nz-image
width="800px"
height="800px"
nzSrc="https://zos.alipayobjects.com/rmsportal/jkjgkEfvpUPVyRjUImniVslZfWPnJuuZ.png"
alt=""
/>
<img
class="img2"
nz-image
width="800px"
height="800px"
nzSrc="https://zos.alipayobjects.com/rmsportal/jkjgkEfvpUPVyRjUImniVslZfWPnJuuZ.png"
alt=""
/>
<img
class="img2"
nz-image
width="800px"
height="800px"
nzSrc="https://zos.alipayobjects.com/rmsportal/jkjgkEfvpUPVyRjUImniVslZfWPnJuuZ.png"
alt=""
/>
<img
class="img2"
nz-image
width="800px"
height="800px"
nzSrc="https://zos.alipayobjects.com/rmsportal/jkjgkEfvpUPVyRjUImniVslZfWPnJuuZ.png"
alt=""
/>
<img
class="img2"
nz-image
width="800px"
height="800px"
nzSrc="https://zos.alipayobjects.com/rmsportal/jkjgkEfvpUPVyRjUImniVslZfWPnJuuZ.png"
alt=""
/>
<img
class="img2"
nz-image
width="800px"
height="800px"
nzSrc="https://zos.alipayobjects.com/rmsportal/jkjgkEfvpUPVyRjUImniVslZfWPnJuuZ.png"
alt=""
/>
<img
class="img2"
nz-image
width="800px"
height="800px"
nzSrc="https://zos.alipayobjects.com/rmsportal/jkjgkEfvpUPVyRjUImniVslZfWPnJuuZ.png"
alt=""
/>
<img
class="img2"
nz-image
width="800px"
height="800px"
nzSrc="https://zos.alipayobjects.com/rmsportal/jkjgkEfvpUPVyRjUImniVslZfWPnJuuZ.png"
alt=""
/>
</div>