<div class="nz-row" *ngFor="let goods of g" nz-row [nzGutter]="16" nzJustify="space-around">

  <div nz-col *ngFor="let good of goods" (click)='this.click(good)' class="gutter-row" [nzSpan]="1">
    <nz-card nzHoverable style="width: 180px" [nzCover]="coverTemplate">
      <nz-card-meta
        style="height: 40px"
        [nzTitle]="good.name"
        [nzDescription]="'￥：' + good.price * good.rate"
      ></nz-card-meta>
    </nz-card>
    <ng-template #coverTemplate>
      <img
        width="180px"
        height="180px"
        alt="example"
        [src]="'/api/img/' + good.main"
      />
    </ng-template>
  </div>

</div>

