<img
class="img2"
nz-image
width="400px"
height="400px"
nzSrc="https://zos.alipayobjects.com/rmsportal/jkjgkEfvpUPVyRjUImniVslZfWPnJuuZ.png"
alt=""
/>

<div class="price">
    <p>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
    <nz-page-header class="site-page-header" nzTitle="价格: 200￥">
    </nz-page-header>
    <button style="margin-top: 200px" nz-button nzType="primary" nzSize="large">立即购买</button>
    <button style="margin-left: 10px;" nz-button nzType="primary" nzSize="large"><i nz-icon nzType="shopping-cart"></i>加入购物车</button>
</div>