<nz-layout class="inner-layout">
  <nz-sider nzWidth="200px" nzTheme="light">
    <ul nz-menu nzMode="vertical" class="sider-menu">
      <li nz-submenu *ngFor="let type of types" [nzTitle]="type.name" nzIcon="bars"></li>
    </ul>
  </nz-sider>
  <nz-carousel class="inner-content" nzAutoPlay>
      <div nz-carousel-content *ngFor="let good of array">
      <img
      nz-image
      width="600px"
      height="600px"
      [nzSrc]="'/api/img/' + good.main"
      alt=""
    />
    </div>
  </nz-carousel>
  <div class="imgs">
    <img
      class="img1"
      nz-image
      width="224px"
      height="193.33px"
      [nzSrc]="'/api/img/' + side[0].main"
      alt=""
    />
    <img
      class="img2"
      nz-image
      width="224px"
      height="193.33px"
      [nzSrc]="'/api/img/' + side[1].main"
      alt=""
    />
    <img
      class="img3"
      nz-image
      width="224px"
      height="193.33px"
      [nzSrc]="'/api/img/' + side[2].main"
      alt=""
    />
  </div>
</nz-layout>
